<div class="min-h-screen flex flex-col justify-center items-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-6">
    
    <!-- Failure Icon -->
    <div class="flex justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M19.07 4.93a10.5 10.5 0 00-14.14 0m14.14 14.14a10.5 10.5 0 01-14.14 0m0 0a10.5 10.5 0 010-14.14m14.14 14.14a10.5 10.5 0 010-14.14" />
      </svg>
    </div>

    <!-- Failure Message -->
    <h2 class="text-center text-2xl font-extrabold text-gray-900 mt-4">Payment Failed</h2>
    <p class="text-center text-gray-600 mt-2">Oops! Something went wrong with your payment.<br/><b> Payment was unsuccessful due to a temporary issue. If amount got deducted, it will be refunded within 5-7 working days</b></p>
    <p class="text-center text-gray-600 mt-2"><%= params[:reason].to_s %></p>




    <!-- Retry Payment or Return to Homepage -->
    <div class="mt-6 flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4">
      <%= link_to 'Retry Payment', checkout_path(@current_cart), data:{turbo: false}, class: 'bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded w-full sm:w-auto' %>
      <%= link_to 'Return to Homepage', root_path, class: 'bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded w-full sm:w-auto' %>
    </div>
  </div>
</div>
