<style>
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  .animate-spin {
      animation: spin 1s linear infinite;
    }
</style>
<main class="flex-grow overflow-auto">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <!-- Search Categories -->
      <div class="mb-3">
          <h2 class="text-2xl font-bold text-gray-900 mb-4">Categories</h2>
          <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
            <% @categories.each do |category| %>
              <%= link_to category_path(category.title) do %>
                <div class="bg-white rounded-lg shadow-md p-4 flex flex-col items-center hover:bg-purple-50">
                  <% if category.image.present? %>
                    <%= image_tag(category.image, class: "w-16 h-16 object-cover rounded-full mb-2") %>
                  <% else %>
                    <img src="https://via.placeholder.com/100" alt="Snacks" class="w-16 h-16 object-cover rounded-full mb-2">
                  <% end %>
                    <span class="text-sm font-medium text-gray-900"><%= category.title %></span>
                </div>
              <% end %>
            <% end %>

          </div>
      </div>
  </div>
</main>